.app-checkout__block-wrapper {
  max-height: 125px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  &.app-checkout__block-wrapper--open {
    max-height: fit-content;
  }
}
.app-checkout__block {
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 60px;
  margin-top: 25px;
  position: relative;
  .app-checkout__arrow-up {
    position: absolute;
    top: 25px;
    right: 22px;
    width: 15px;
    cursor: pointer;
    transition: transform 0.3s;
    transform: rotate(90deg);
    &.app-checkout__arrow-up--rotated {
      transform: rotate(0);
    }
  }
  &__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 25px;
  }
  &__double-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 18px;
    margin-bottom: 6px;
  }
  input, select {
    width: 100%;
    height: 45px;
    margin-bottom: 16px;
    &.error {
      border: 1px solid #EB7092;
    }
  }
  &.first {
    input {
      height: 32px;
    }
  }
  &__select__title {
    margin-top: 34px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
  }
  &__select__radio-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    .app-checkout__block__select__radio {
      margin-right: 15px;
      width: 21px;
      height: 21px;
      border: 1px solid #C4C4C4;
      border-radius: 50%;
      &__inner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: transparent;
        border: 4px solid #FFFFFF;
        box-sizing: border-box;
        &.app-checkout__block__select__radio__inner--selected {
          background-color: #0EB58A;
        }
      }
    }
  }
}
